{% extends 'base.html.twig' %}

{% block title %}Inscritpion{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour</a>
{% endblock %}
